[lang=es] .bigButton[for=create]::after {
    content: "Crea un video";
}

[lang=es] .bigButton[for=edit]::after {
    content: "Editar un video";
}

[lang=es] .extensionRequired label[for=desktopstream]::after {
    content: 'Haga clic para instalar la extensi칩n de escritorio';
}

[lang=es] #streams::before {
    content: 'Dispositivos';
}

[lang=es] #addDevice::after {
    content: 'A침adir dispositivo';
}

[lang=es] .recording #recordingTime::before {
    content: 'Grabaci칩n';
}

[lang=es] .paused.recording #recordingTime::before {
    content: 'Pausado';
}

[lang=es] #mergestreams:checked ~ label[for=mergestreams]::after {
    content: "No te preocupes, \A todas las transmisiones activas se grabar치n";
}

#addDevice::before {
    transform: scale(0.8) translateY(-0.5rem);
}

#addDevice::after {
    line-height: 1rem;
    max-width: 90%;
    left: 5%;
}
